<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>БД "Больница"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/database.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for table_name in table_names %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="{{ table_name }}-tab"
                           data-toggle="tab" href="#{{ table_name }}" role="tab" aria-controls="{{ table_name }}"
                           aria-selected="{{ loop.first }}">{{ table_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2">
            <form method="POST" action="/logout">
                <div class="form-group">
                    <button type="submit">Выйти</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        {% for table_name in table_names %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ table_name }}" role="tabpanel"
                 aria-labelledby="{{ table_name }}-tab">
                {% if table_contents[table_name] %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="delete-row"></th>
                            {% for column_name in table_contents[table_name][0].cursor_description %}
                                {% if table_primary[table_name]|length > 0 %}
                                    {% if column_name[0] == table_primary[table_name][0][0] %}
                                        <th class="{{ table_types[table_name][loop.index0][0] }} primary">{{ column_name[0] }}</th>
                                    {% else %}
                                        <th class="{{ table_types[table_name][loop.index0][0] }}">{{ column_name[0] }}</th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>

                        {% for row in table_contents[table_name] %}
                            <tr>
                                <td class="delete-row-button text-center">
                                    <div class="button-container">
                                        <button class="btn btn-danger" id="{{ table_name }}-{{ row[0] }}-delete-row">-</button>
                                    </div>
                                </td>
                                {% for value in row %}
                                    <td class="{{ table_types[table_name][loop.index0][0] }} {{ table_contents[table_name][0].cursor_description[loop.index0][0] }}">{{ value }}</td>
                                {% endfor %}
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary mt-3" id="{{ table_name }}-add-row">+</button>
                    <button class="btn btn-danger mt-3" id="{{ table_name }}-delete">-</button>
                    <button class="btn btn-success mt-3 d-none" id="{{ table_name }}-save">Сохранить</button>
                {% else %}
                    <p>Нет данных для таблицы {{ table_name }}.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Контент модального окна для редактирования -->

        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/static/table_edit.js"></script>
</body>
</html>
